# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iws
*.iml
*.ipr
.vscode/
.project
.classpath
.settings/

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Otros
.git/
.gitignore
README.md
HELP.md
.env